.top {
  background-image: url('../img/hero.jpg');
  height: 420px;
  background-size: cover;
}

.header {
  font-weight: bold;
}

.left {
  padding-left: .75em;
  font-size: 2em;
}

.right {
  padding-right: 3em;
  font-size: 1.25em;
}
.light {
  text-align: justify;
}
.material-icons {
  padding: 0 0.5em;
}

.li {
  color: white;
}

.page-footer {
  color: white;
}
